<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>

<body>
  <main>
    <h1>Courses We Offer</h1>
    
      
      <%- include('./partials/nav.ejs') %>

    <div class="describe content">
      <h2><%= course.name %></h2>
      <div class="content">
          <p><%= course.description %></p>
          <p><%= course.subjectArea %></p>
          <p><%= course.credits %></p>
      </div>
      <div class="errorMessage"></div>
      </div>

      <div class="button-container">
        <button id="register-button">
        <a class="addCourse" data-doc="<%= course._id %>">Add Course</a>
        </button>
      </div>

      <div class="button-container">
        <button id="drop-button">
        <a class="dropCourse" data-doc="<%= course._id %>">Drop Course</a>
        </button>
      </div>

    </div>

    <%- include('./partials/footer.ejs') %>
  </main>
</body>

<script>
    const button = document.querySelector('a.addCourse');
    const dropButton = document.querySelector('a.dropCourse')
    const schedule = "<%= student.schedule %>"
    const errorMessage = document.querySelector('.errorMessage');

    if (schedule.includes(button.dataset.doc)){
        errorMessage.textContent = "You are registered for this course"
    }

    button.addEventListener('click', async (e) => {

      const endpoint = `/coursesStudent/${button.dataset.doc}`;
      
      fetch(endpoint, {
        method: 'PUT'
      })
      .then((response) => response.json())
      .then((data) => window.location.href = data.redirect)
      .catch(err => console.log(err))
    })

    dropButton.addEventListener('click', async (e) => {

      const endpoint = `/coursesStudent/${button.dataset.doc}`;

        fetch(endpoint, {
          method: 'DELETE'
          })
          .then((response) => response.json())
          .then((data) => window.location.href = data.redirect)
          .catch(err => console.log(err))
    })

    

</script>

</html>