<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>

<body>
  <main>
    <h1>Your Class Schedule</h1>

    <%- include('./partials/nav.ejs') %>

        <h2>Schedule for <%= student.firstName %> </h2> 

        
          <% if (courses.length > 0) { %>

            <table>
              <tr class="top-row">
                <th>Name</th>
                <th>Description</th>
                <th>Subject Area</th>
                <th>Credits</th>
              </tr>
              
            <% courses.forEach(course => { %>

              
  
                <tr>
                  <td class="name"> <a href="/coursesStudent/<%= course._id%>"> <%= course.name %> </a></td>
                  <td class="description"><a href="/coursesStudent/<%= course._id%>"><%= course.description %></a></td>
                  <td class="subjectArea"><a href="/coursesStudent/<%= course._id%>"><%= course.subjectArea %></a></td>
                  <td class="credits"><a href="/coursesStudent/<%= course._id%>"><%= course.credits %></a></td>
                </tr>
              
            <% }) %>
          <% } else { %>
              <p class="errorMessage">You are not registered for any courses</p>
          <% } %>
        </table>

    <%- include('./partials/footer.ejs') %>

  </main>
</body>

</html>